<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SampleShop Tests">
    <test verbose="2" preserve-order="true"
          name="Test all TCs">
        <classes>
            <class name="sampleshop.pages.HomePageTests">
                <methods>
                    <include name="checkCategoriesInMenu"/>
                    <include name="testWillFail"/>
                </methods>
            </class>
            <class name="sampleshop.pages.ProductDetailsTests">
                <methods>
                    <include name="orderElement"/>
                    <include name="thisMethodWillFail"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
